/* Webfont: Nohemi-Regular */
@font-face {
  font-family: "Nohemi";
  src: url("/Typeface/Nohemi/Web-TT/Nohemi-Regular.eot"); /* IE9 Compat Modes */
  src: url("/Typeface/Nohemi/Web-TT/Nohemi-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/Typeface/Nohemi/Web-TT/Nohemi-Regular.woff")
      format("woff"),
    /* Modern Browsers */ url("/Typeface/Nohemi/Web-TT/Nohemi-Regular.woff2")
      format("woff2"),
    /* Modern Browsers */ url("/Typeface/Nohemi/Web-TT/Nohemi-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  font-display: swap;
}
