@import url("/images/Typeface/Nohemi/Nohemi/Web-TT/Nohemi-Bold.css");

p.body {
  color: #1c1816;
  font-size: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
  letter-spacing: -0.192px;
}
