.site-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 16px;
  background: var(--muzen-light-brown);
}

/* Styles for Desktop */
@media screen and (width >= 724px) {
  .site-preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
  }
}
