.app-wrapper {
  /* height: 200vh; */
  background: var(--muzen-light-brown);
  z-index: 0;
  position: relative;
}

.preloader-leave-active {
  transition: opacity 0.5s;
}

.preloader-leave-from {
  opacity: 1;
}

.preloader-leave-to {
  opacity: 0;
}

@media screen and (width >= 724px) {
  .page-transition__content {
    font-size: 96px;
    line-height: 1;
  }
}
