.container {
  padding: 16px 16px;
}

.disable-footer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: contents; */
  z-index: 10;
  background: var(--muzen-light-brown);
  overflow: scroll;
}

@media screen and (width >= 724px) {
  .container {
    padding: 32px;
  }
}
