:root {
  --muzen-dm: "DM Sans", Poppins Arial, Helvetica, Geneva, sans-serif;
  --muzen-nohemi: "Nohemi", Poppins Arial, Helvetica, Geneva, sans-serif;
  --muzen-light-brown: #faf7f0;
  --muzen-brown: #4d3d30;
  --muzen-dark-brown: #1c1816;
  --vh: 1vh;
}
